@font-face {
	font-family: BelleScript;
	src: url(../fonts/BelleScript.otf);
}
* {
	font-family: BelleScript;
	outline: 0 !important;
}
.bor {
	border: 1px solid black;
	height: 100px;
	border-radius: 10px;
	margin-top: 30%;
}
.vp {
	margin-left: 45%;
	border: none;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin-top: 10px;
	background: black;
	color: white;
	font-size: 40px;
	transition: all 1s;
}
.vp:hover {
	background: white;
	color: black;
	border: 1px solid black;
}
.fon {
	background: #e6e6e6;
	height: 100%;
	border-radius: 10px;
	margin-top: 5px;
	margin-left: 1px;
}
#he1{
	height: 100%;
}
p{
	text-align: center;
}
footer{
	margin: 5px;
	color: grey;
}

.lab {
	font-size: 25px;
}

.lol {
	margin-top: 70px;
}
.log{
	margin-left: 45%;
	border: none;
	border-radius: 10px;
	height: 80px;
	width: 80px;
	margin-top: 20px;
	background: black;
	color: white;
	font-size: 40px;
}
.log:hover {
	background: white;
	color: black;
	border: 1px solid black;
}