@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
	font-family: BelleScript;
	src: url(../fonts/BelleScript.otf);
}
* {
	font-family: BelleScript;
	outline: 0 !important;
}
body {
	margin: 0;
	padding: 0;
}
.body{
	position: absolute;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.head{
	grid-column: 2/7;
	border: 1px solid black;
	border-radius: 10px;
	position: relative;
	top: 43%;
}
.logo{
	border: none;
	border-radius: 50%;
	font-size: 50px;
	color: white;
	background: black;
	margin: 10px;
	position: relative;
	left: 43%;
	padding: 15px;
	width: 90px;
	height: 90px;
	display: block;
	float: left;
	transition: all 1s;
}
.logo:hover{
	border: 1px solid black;
	color: black;
	background: white;
}
.logotip{
	display: none;
	float: left;
	text-align: left;
	height: 71%;
	border-left: 1px solid black;
	font-size: 71px;
	padding: 10px;
	margin: 5px 0 5px 0;
}
.login{
	display: none;
	position: fixed;
	border: 1px solid black;
	border-radius: 10px;
	width: 30%;
	height: 60%;
	left: 50%;
	top: 50%;
	margin: -15% 0 0 -17%;
	z-index: 100;
	background: white;
}
input{
	display: block;
	margin: 5px auto;
	width: 50%;
	height: 6%;
	border-radius: 10px;
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
}
span{
	display: block;
	width: 50%;
	font-size: 25px;
	margin: auto;
	text-align: center;
}
#sing{
	background: white;
	margin: 20px auto;
}
.zag{
	width: 75%;
	font-size: 50px;
	margin: 30px auto;
	font-weight: bold;
}
.sub{
	display: none;
	grid-column: 2/7;
	grid-row: 2/7;
}
.content{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin: 5px 0 5px 0;
}
.menu{
	grid-row: 1/8;
	border-radius: 10px;
	background: #e6e6e6;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cont{
	grid-column: 2/5;
	grid-row: 1/8;
	border-radius: 10px;
	background: #e6e6e6;
	margin-left: 5px;
}
.footer{
	display: none;
	color: grey;
	grid-column: 2/7;
	grid-row: 7/8;
}
p{
	text-align: center;
}
.butmenu{
	margin: 5px;
	border: none;
	color: white;
	border-radius: 10px;
	background: black;
	font-size: 30px;
	transition: all 1s;
}
.butmenu:hover{
	border-radius: 40%;
}
.row3{
	grid-row: 3/4;
	grid-column: 3/4;
}
.col3{
	grid-column: 2/3;
}
.col2{
	grid-column: 3/4;
}
.container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 60px 1fr 1fr 1fr;
	overflow: auto;
}
.header{
	font-size: 50px;
	display: block;
	margin: 5px 0 5px 10px;
	grid-column: 1/4;
	text-align: left;
}
.info{
	grid-column: 1/4;
	border: 1px solid black;
	margin: 5px;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 150px;
	margin: 5px;
	background: url(../img/fon.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
@media (min-width: 1900px) {
.logo{
	width: 131px;
	height: 131px;
	font-size: 90px;
	}
.logotip{
	font-size: 105px;
	height: 81%;
	}
.butmenu{
	font-size: 45px;
}
}
.kok {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 5px;
}
.item{
	margin: 5px;
}
.ava{
	border-radius: 50%;
	transform: rotate(70deg);
	margin: 5px;
	width: 95%;
    height: 95%;
    object-fit: cover;
}
.inf{
	color: white;
	padding: 10px;
}
.levo{
	text-align: left;
	margin: 5px;
}
.name{
	font-size: 40px;
}
.stena{
	grid-column: 1/4;
	grid-row: 3/5;
	margin: 5px;
	background: white;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 100% 100%;
	grid-template-rows: 1fr;
	overflow-x: scroll;
	overflow-y: hidden;
	font-size: 30px;
}
.font{
	font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	height: 5px;
	width: 5px;
	background: #e6e6e6;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	height: 5px;
	width: 5px;
	border-radius: 5px;
	background-color: grey;
}
.container > div > iframe{
	width: 100%;
	height: 100%;
}
.sosi{
	margin: 5px;
}
.avapip{
	border-radius: 50%;
	margin: 5px;
	width: 95%;
    height: 95%;
    object-fit: cover;
}
.nes{
	grid-column: 1/4;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.loler{
	text-decoration: none;
	font-size: 30px;
	color: black;
	grid-column: 2/3;
	text-align: center;
	display: block;
	margin-top: 20%;

}