@font-face {
	font-family: BelleScript;
	src: url(../fonts/BelleScript.otf);
}



* {
	font-family: BelleScript;
}

#golova {
	transition: all 2s;
}


.hol {
	height: 100px;
	width: 67.5%;
	border: 2px solid black;
	position: absolute;
	top: 45%;
	left: 17.5%;
	margin-top: 5px;
	border-radius: 10px; 
}

#butt {
	height: 80px;
	width: 80px;
	margin-top: 10px;
	margin-left: 45%;
	font-size: 40px;
	background-color: black;
	border: 0;
	color: white;
	border-radius: 40px;
	outline: none;
	float: left;
	transition-property: margin, transform, border-radius;
	transition-duration: 2s;
	transition-delay: 2s;
}



#butt:hover {
	background-color: #fff;
	color: black;
	border: 1px solid black;
}

.bok {
	width: 17.5%;
	height: 70%;
	background-color: #ebebeb;
	position: absolute;
	left: 17.5%;
	top: 110px;
	margin-top: 5px;
	border-radius: 10px;
	float: left;
}
.content {
    width: 50%;
    height: 70%;
    background-color: #ebebeb;
    position: absolute;
    top: 110px;
    left: 35%;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    float: left;
}

#footer {
	height: 100px;
	width: 70%;
    position: absolute;
    left: 15%;
    top: 60%;
    color: #7d7684;
    transition: all 2s;
}

p {
	text-align: center;
}


.button {
	height: 15%;
	width: 28.5%;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 40px;
	background-color: black;
	border: 0;
	color: white;
	border-radius: 10px;
	outline: none;
	float: right;
}

.button:hover {
	background-color: #fff;
	color: black;
	border: 1px solid black;
}


.fa::before {
	font-size: 100%;
	color: white;

}


.fa:hover::before {
	font-size: 100%;
	color: black;

}